<?xml version="1.0" encoding="utf-8" ?>



<configuration>
  <appSettings>
    <!-- This is how you comment out in XML -->
    <add key="Server" value="BIGGS-PC\" />
    <add key="Database" value ="RobShop"/>
    <add key="Item" value ="Item"/>
    <add key ="Stock" value ="Stock"/>
    <add key="User" value="sa" />
    <add key="Password" value="Password123" />
    
            <!--Example of how to get values from App.config
            'Dim str As String = ConfigurationSettings.AppSettings("Computer") -->


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>